<div>
    <app-page-header 
        [heading]="'Danh sách chi tiết PGD'" 
        [heading_second]="'Sửa chi tiết PGD'" 
        [url_heading]="'/transaction-more'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="posDetailForm" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Đia chỉ chi tiết PGD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="address_pos_detail"
                            class="form-control col-lg-12"
                            placeholder="Đia chỉ chi tiết PGD"
                            [ngClass]="{ 'is-invalid': submitted && Form.address_pos_detail.errors }"
                        >
                        <div *ngIf="submitted && Form.address_pos_detail.errors" class="invalid-feedback">
                            <div *ngIf="Form.address_pos_detail.errors.required">Đia chỉ chi tiết PGD là bắt buộc</div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên chi tiết PGD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="name_pos_detail"
                            class="form-control col-lg-12"
                            placeholder="Tên chi tiết PGD"
                            [ngClass]="{ 'is-invalid': submitted && Form.name_pos_detail.errors }"
                        >
                        <div *ngIf="submitted && Form.name_pos_detail.errors" class="invalid-feedback">
                            <div *ngIf="Form.name_pos_detail.errors.required">Tên chi tiết PGD là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Toạ độ x,y(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="location_address"
                            class="form-control col-lg-12"
                            placeholder="Toạ độ x,y"
                            [ngClass]="{ 'is-invalid': submitted && Form.location_address.errors }"
                        >
                        <div *ngIf="submitted && Form.location_address.errors" class="invalid-feedback">
                            <div *ngIf="Form.location_address.errors.required">Toạ độ x,y là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tỉnh/Thành phố:</label>
                    <div class="col-sm-7">

                        <select class="form-control" formControlName="province">
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Chi nhánh:</label>
                    <div class="col-sm-7">

                        <select class="form-control" formControlName="branch">
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Quận/Huyện:</label>
                    <div class="col-sm-7">

                        <select class="form-control" >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Điểm giao dịch:</label>
                    <div class="col-sm-7">

                        <select class="form-control" >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Số ĐT(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="phone_number"
                            class="form-control col-lg-12"
                            placeholder="Số ĐT"
                            [ngClass]="{ 'is-invalid': submitted && Form.phone_number.errors }"
                        >
                        <div *ngIf="submitted && Form.phone_number.errors" class="invalid-feedback">
                            <div *ngIf="Form.phone_number.errors.required">Số ĐT là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Fax:</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="fax"
                            class="form-control col-lg-12"
                            placeholder="Fax"
                        >

                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Contact:</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="contact"
                            class="form-control col-lg-12"
                            placeholder="Contact"
                        >

                    </div>

                </div>
                

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
    