<div>
        <app-page-header 
            [heading]="'Danh sách điều khoản'" 
            [heading_second]="'Thêm mới điều khoản'" 
            [url_heading]="'/provision'">
        </app-page-header>
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="provisionForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Tên điều khoản(<span class="text-danger">*</span>):</label>
                        <div class="col-sm-7">
                            <input 
                                formControlName="provisionName"
                                class="form-control col-lg-12"
                                placeholder="Tên điều khoản"
                                [ngClass]="{ 'is-invalid': submitted && Form.provisionName.errors }"
                            >
                            <div *ngIf="submitted && Form.provisionName.errors" class="invalid-feedback">
                                <div *ngIf="Form.provisionName.errors.required">Tên điều khoản là bắt buộc</div>
                            </div>
                        </div>
    
                    </div>
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Đường đẫn(<span class="text-danger">*</span>):</label>
                        <div class="col-sm-7">
                            <input 
                                formControlName="provisionLink"
                                class="form-control col-lg-12"
                                placeholder="Đường dẫn"
                                [ngClass]="{ 'is-invalid': submitted && Form.provisionLink.errors }"
                            >
                            <div *ngIf="submitted && Form.provisionLink.errors" class="invalid-feedback">
                                <div *ngIf="Form.provisionLink.errors.required">Đường dẫn là bắt buộc</div>
                            </div>
                        </div>
    
    
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-7">
                            <button class="btn btn-success mr-3">
                                <i class="fa fa-save"></i>&nbsp;Lưu lại
                            </button>
                            <button class="btn btn-light" (click)="resetForm()">
                                <i class="fa fa-close"></i>&nbsp;Huỷ
                            </button>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
    