<div>
  <app-page-header [heading]="'Danh sách người dùng'" [url_heading]="'/province'">
  </app-page-header>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group row">
        <label for="search" class="col-sm-4 col-form-label">Tên đăng nhập:</label>
        <div class="col-sm-6">
          <input class="form-control col-lg-12" itrim type="text" id="search" placeholder="Tên đăng nhập">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-primary mr-3" >
      <i class="fa fa-search"></i>&nbsp;Tìm kiếm
    </button>
  </div>
  <div class="row mt-50">
    <div class="col-md-8">
      <div class="form-group row">
        <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
        <select class="form-control col-sm-1" [(ngModel)]="search.page_size">
          <option *ngFor="let page_size of listPageSize" [value]="page_size">{{page_size}}</option>
        </select> &nbsp;
        <label for="search" class=" col-form-label">Bản ghi</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label for="search" class="col-sm-4 col-form-label">Tìm kiếm:</label>
        <div class="col-sm-8">
          <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12" itrim type="text"
            id="search" [(ngModel)]="search.keyword" placeholder="Tìm kiếm">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên đăng nhập</th>
                <th scope="col">Địa chỉ ip</th>
                <th scope="col">Thời gian kết thúc<u></u></th>
                <th scope="col">Ngày truy cập</th>
                <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="search.process_load == 1" class="text-center">
                    <td colspan=6><i class="fa fa-spin fa-spinner font-30"></i></td>
                </tr>
                <tr *ngIf="search.total_items == 0 && search.process_load == 0" class="text-center">
                    <td colspan=6>Không tìm thấy kết quả</td>
                </tr>
                <tr *ngFor ="let province of listProvision; let i = index">
                    
                    <th scope="row">
                        {{i+1 + (search.page>1?(search.page-1)*search.page_size:0)}}
                    </th>
                    <td>Mark</td>
                    <td>10.52.27.53</td>
                    <td>
                        4/24/2019 09:42:34 AM
                        
                    </td>
                    
                    <td>
                      4/24/2019 09:42:34 AM

                  </td>
                    <td>
                      <span class="badge badge-success">Active</span>

                  </td>
                </tr>
                
            </tbody>
        </table>
    </div> 
</div>

</div>