<div>
    <app-page-header 
        [heading]="'Danh sách đầu số'" 
        [heading_second]="'Thêm mới đầu số'" 
        [url_heading]="'/telecom-number'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="telecomNumberForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Nhà mạng(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select 
                            formControlName="telecom"
                            class="form-control col-lg-12"
                            placeholder="Nhà mạng"
                            [ngClass]="{ 'is-invalid': submitted && Form.telecom.errors }"
                        >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                       
                        <div *ngIf="submitted && Form.telecom.errors" class="invalid-feedback">
                            <div *ngIf="Form.telecom.errors.required">Nhà mạng là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Từ số(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="number_from"
                            class="form-control col-lg-12"
                            placeholder="Từ số"
                            [ngClass]="{ 'is-invalid': submitted && Form.number_from.errors }"
                        >
                        <div *ngIf="submitted && Form.number_from.errors" class="invalid-feedback">
                            <div *ngIf="Form.number_from.errors.required">Từ số là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Đến số(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="number_to"
                            class="form-control col-lg-12"
                            placeholder="Đến số"
                            [ngClass]="{ 'is-invalid': submitted && Form.number_to.errors }"
                        >
                        <div *ngIf="submitted && Form.number_to.errors" class="invalid-feedback">
                            <div *ngIf="Form.number_to.errors.required">Đến số là bắt buộc</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
