<app-page-header [heading]="'Tạo mới'"></app-page-header>
<div class="row">
  <div class="col-md-3 pd-7">
    <span>Chi nhánh (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <select class="form-control" >
        <option value="0">-- Chọn chi nhánh --</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
    </select>
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>PGD (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <select class="form-control" >
      <option value="0">Chọn phòng giao dịch</option>
      <option value="1">2</option>
      <option value="2">3</option>
      <option value="3">4</option>
      <option value="4">5</option>
  </select>
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Mã nhân viên (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <input class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Tên đăng nhập (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <input class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Họ và tên (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <input  class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Mật khẩu (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <input class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Nhập lại mật khẩu (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <input class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Số điện thoại:</span>
  </div>
  <div class="col-md-5">
    <input  class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Email (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <input class="form-control">
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Phân quyền (<strong style="color: red">*</strong>):</span>
  </div>
  <div class="col-md-5">
    <select class="form-control">
      <option>SYSTEM</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
  </select>
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-3 pd-7">
    <span>Super Admin:</span>
  </div>
  <div class="col-md-5">
    <input  class="ng-tns-c6-1" type="checkbox" value="">
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <button (click)="save()" class="btn btn-sm btn-primary" type="button">Lưu Lại</button>
    <button class="btn btn-sm btn-primary mrgl-5" type="button">Trở Lại</button>
  </div>
</div>