<div>
    <app-page-header 
        [heading]="'Danh sách chi nhánh'"
        [url_heading]="'/branch'">
    </app-page-header>
    <!-- {{'Admin_function.DS_province' | translate}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã chi nhánh:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    itrim type="text" id="search" [(ngModel)]="search.branch_code"
                    placeholder="Mã chi nhánh">
                </div>
            </div>
            <div class="form-group row">
                <label for="province" class="col-sm-4 col-form-label">Tỉnh/Thành phố:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.province">
                        <option *ngFor="let province of listProvice" [value]="province.code">{{province.name}}</option>
                    </select>
                </div>
                
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.active">
                        <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{status.name}}</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="branch_name" class="col-sm-4 col-form-label">Tên chi nhánh:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    itrim type="text" id="branch_name" [(ngModel)]="search.branch_name"
                    placeholder="Tên chi nhánh">
                </div>
            </div>
            <div class="form-group row">
                <label for="province" class="col-sm-4 col-form-label">Quận/Huyện:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.district">
                        <option *ngFor="let disctrict of listDistrict" [value]="disctrict.code">{{disctrict.name}}</option>
                    </select>
                </div>
                
            </div>
        </div> 
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch()">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <a class="btn btn-warning mr-3" [routerLink]="['/branch/create']">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </a>
            <a class="btn btn-success mr-3">
              <i class="fa fa-download"></i>&nbsp;Xuất file
            </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                    <select class="form-control col-sm-1" [(ngModel)]="search.page_size">
                        <option *ngFor="let page_size of listPageSize" [value]="page_size">{{page_size}}</option>
                    </select> &nbsp;
                    <label for="search" class=" col-form-label">Bản ghi</label>  
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tìm kiếm:</label>
                <div class="col-sm-8">
                    <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                    itrim type="text" id="search" [(ngModel)]="search.keyword"
                    placeholder="Tìm kiếm">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã chi nhánh</th>
                    <th scope="col">Tên chi nhánh</th>
                    <th scope="col">Tỉnh/Thành phố</th>
                    <th scope="col">Quận/Huyện</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="search.process_load == 1" class="text-center">
                        <td colspan=8><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="search.total_items == 0 && search.process_load == 0" class="text-center">
                        <td colspan=8>Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor ="let branch of listBranch; let i = index">
                        
                        <th scope="row">
                            {{i+1 + (search.page>1?(search.page-1)*search.page_size:0)}}
                        </th>
                        <td>{{branch.branchCode}}</td>
                        <td>{{branch.branchName}}</td>
                        <td>{{branch.cityCode}}</td>
                        <td>{{branch.districtCode}}</td>
                        <td>{{branch.branchAddress}}</td>
                        
                        <td>
                            <span *ngIf="branch.status == 'A'" class="badge badge-success">Active</span>
                            <span *ngIf="branch.status == 'I'" class="badge badge-danger">Inactive</span>

                        </td>
                        <td>
                            <a class="mr-2 cursor-pointer text-blue" routerLink="/branch/edit/{{branch.branchId}}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span class="mr-2 cursor-pointer text-blue">
                                <i class="fa fa-lock"></i>
                            </span>
                            <!-- <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-unlock-alt"></i>
                            </span> -->
                            <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="deleteProvince(1, i)"></i>
                            </span>
                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div> 
    </div>

    <div class="row mt-3">
        <div class="col-md-12">

            <ngb-pagination 
                *ngIf="search.total_items > 0 && search.total_items > search.page_size"
                [collectionSize]="search.total_items" 
                [(page)]="search.page" [maxSize]="10" [rotate]="true" 
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
            >
            </ngb-pagination>
        </div>
    </div>
    <!-- /.row -->
</div>

