<div>
    <app-page-header 
        [heading]="'Danh sách tiền tệ'" 
        [heading_second]="'Sửa tiền tệ'" 
        [url_heading]="'/currency'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã tiền tệ(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="code_currency"
                            class="form-control col-lg-12"
                            placeholder="Mã tiền tệ"
                            [ngClass]="{ 'is-invalid': submitted && Form.code_currency.errors }"
                        >
                        <div *ngIf="submitted && Form.code_currency.errors" class="invalid-feedback">
                            <div *ngIf="Form.code_currency.errors.required">Mã tiền tệ là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên tiền tệ(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="name_currency"
                            class="form-control col-lg-12"
                            placeholder="Tên tiền tệ"
                            [ngClass]="{ 'is-invalid': submitted && Form.name_currency.errors }"
                        >
                        <div *ngIf="submitted && Form.name_currency.errors" class="invalid-feedback">
                            <div *ngIf="Form.name_currency.errors.required">Tên tiền tệ là bắt buộc</div>
                        </div>
                    </div>
                </div>

            
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
    