<div>
    <app-page-header 
        [heading]="'Danh sách loại dịch vụ'" 
        [heading_second]="'Thêm mới loại dịch vụ'" 
        [url_heading]="'/type-service'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã loại dịch vụ(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="codeService"
                            class="form-control col-lg-12"
                            placeholder="Mã dịch vụ"
                            [ngClass]="{ 'is-invalid': submitted && Form.codeService.errors }"
                        >
                        <div *ngIf="submitted && Form.codeService.errors" class="invalid-feedback">
                            <div *ngIf="Form.codeService.errors.required">Mã loại dịch vụ là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên loại dịch vụ(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameService"
                            class="form-control col-lg-12"
                            placeholder="Tên dịch vụ"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameService.errors }"
                        >
                        <div *ngIf="submitted && Form.nameService.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameService.errors.required">Tên loại dịch vụ là bắt buộc</div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
