<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center" >
            <img src="assets/images/logo.png" width=250/>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">

            <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input 
                            formControlName="username"
                            placeholder="Tên đăng nhập"
                            type="text"
                            class="form-control input-underline input-lg"
                            [ngClass]="{ 'is-invalid': submitted && Form.username.errors }"
                        >
                        <div *ngIf="submitted && Form.username.errors" class="invalid-feedback text-left">
                            <div *ngIf="Form.username.errors.required">Tên đăng nhập là bắt buộc</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input 
                            formControlName="password"
                            type="password"
                            placeholder="Mật khẩu"
                            class="form-control input-underline input-lg"
                            [ngClass]="{ 'is-invalid': submitted && Form.password.errors }"
                        >
                        <div *ngIf="submitted && Form.password.errors" class="invalid-feedback text-left">
                            <div *ngIf="Form.password.errors.required">Mật khẩu là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" (keyup.enter)="keyDownFunction($event)">
                   Đăng nhập
                </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Đăng ký</a>
            </form>
        </div>
    </div>
</div>
