<div>
    <app-page-header 
        [heading]="'Danh sách Tỉnh/Thành phố'" 
        [heading_second]="'Thêm mới Tỉnh/Thành phố'" 
        [url_heading]="'/province'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã Tỉnh/Thành phố(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="provinceCode"
                            class="form-control col-lg-12"
                            placeholder="Mã Tỉnh/Thành phố"
                            [ngClass]="{ 'is-invalid': submitted && Form.provinceCode.errors }"
                        >
                        <div *ngIf="submitted && Form.provinceCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.provinceCode.errors.required">Mã Tỉnh/Thành phố là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên Tỉnh/Thành phố(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="provinceName"
                            class="form-control col-lg-12"
                            placeholder="Tên Tỉnh/Thành phố"
                            [ngClass]="{ 'is-invalid': submitted && Form.provinceName.errors }"
                        >
                        <div *ngIf="submitted && Form.provinceName.errors" class="invalid-feedback">
                            <div *ngIf="Form.provinceName.errors.required">Tên Tỉnh/Thành phố là bắt buộc</div>
                        </div>
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
