<div>
    <app-page-header 
        [heading]="'Danh sách quảng cáo'" 
        [heading_second]="'Thêm mới quảng cáo'" 
        [url_heading]="'/promotion'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="promotionForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên quảng cáo - VN(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameVNPromotion"
                            class="form-control col-lg-12"
                            placeholder="Tên quảng cáo - VN"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameVNPromotion.errors }"
                        >
                        <div *ngIf="submitted && Form.nameVNPromotion.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameVNPromotion.errors.required">Tên quảng cáo - VN là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên quảng cáo - EN(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameENPromotion"
                            class="form-control col-lg-12"
                            placeholder="Tên quảng cáo - EN"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameENPromotion.errors }"
                        >
                        <div *ngIf="submitted && Form.nameENPromotion.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameENPromotion.errors.required">Tên quảng cáo - EN là bắt buộc</div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Sản phẩm:</label>
                    <div class="col-sm-7">

                        <select class="form-control" >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
