<div>
    <app-page-header 
        [heading]="'Danh sách người dùng'" 
        [heading_second]="'Sửa người dùng'" 
        [url_heading]="'/user'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Chi nhánh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select 
                            class="form-control" 
                            formControlName="branchCode"
                            [ngClass]="{ 'is-invalid': submitted && Form.branchCode.errors}"

                        >
                            <option *ngFor="let branch of listBranch" selected [value]="branch.code">{{branch.name}}</option>

                        </select>
                        <div *ngIf="submitted && Form.branchCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.branchCode.errors.required">Chi nhánh là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">PGD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select 
                            class="form-control" 
                            formControlName="posCode"
                            [ngClass]="{ 'is-invalid': submitted && Form.posCode.errors}"

                        >
                            <option *ngFor="let pGD of listPGD" selected [value]="pGD.code">{{pGD.name}}</option>

                        </select>
                        <div *ngIf="submitted && Form.posCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.posCode.errors.required">Phòng giao dịch là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã nhân viên:</label>
                    <div class="col-sm-7">
                        <input 
                            class="form-control col-lg-12"
                            placeholder="Mã nhân viên" readonly [(ngModel)]="user.userCode"
                            
                        >

                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên đăng nhập:</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="userName" readonly
                            class="form-control col-lg-12"
                            placeholder="Tên đăng nhập"
                            [ngClass]="{ 'is-invalid': submitted && Form.userName.errors }"
                        >
                        <div *ngIf="submitted && Form.userName.errors" class="invalid-feedback">
                            <div *ngIf="Form.userName.errors.required">Tên đăng nhập là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Họ và tên(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="fullName"
                            class="form-control col-lg-12"
                            placeholder="Họ và tên"
                            [ngClass]="{ 'is-invalid': submitted && Form.fullName.errors }"
                        >
                        <div *ngIf="submitted && Form.fullName.errors" class="invalid-feedback">
                            <div *ngIf="Form.fullName.errors.required">Họ và tên là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mật khẩu(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            class="form-control col-lg-12"
                            placeholder="Mật khẩu"
                            minlength="8"
                            type="password"
                            name="password"
                            [ngClass]="{ 'is-invalid': submitted && Form.password.errors }"
                        >
                        <div *ngIf="submitted && Form.password.errors" class="invalid-feedback">
                            <div *ngIf="Form.password.errors.required">Mật khẩu là bắt buộc</div>
                            <div *ngIf="Form.password.errors.minlength">Mật khẩu quá ngắn</div>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Nhập lại mật khẩu(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="re_password"
                            class="form-control col-lg-12"
                            minlength="8"
                            type="password"
                            placeholder="Nhập lại mật khẩu"
                            pattern="{{ user.password }}"
                            [ngClass]="{ 'is-invalid': submitted && Form.re_password.errors }"
                        >
                        <div *ngIf="Form.re_password.errors" class="invalid-feedback">
                            <div *ngIf="Form.re_password.errors.required && submitted">Nhập lại mật khẩu là bắt buộc</div>
                            <div *ngIf="Form.re_password.errors.pattern">Mật khẩu không khớp</div>
                            

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Số điện thoại:</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="phone"
                            class="form-control col-lg-12"
                            placeholder="Số điện thoại"
                            maxlength="13"
                            pattern="^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$"
                            [ngClass]="{ 'is-invalid': Form.phone.errors}"
                            
                        >
                        <div *ngIf="Form.phone.errors" class="invalid-feedback">
                            <div *ngIf="Form.phone.errors.pattern">Số điện thoại không đúng định dạng</div>
                            <div *ngIf="Form.phone.errors.maxlength">Số điện thoại quá dài</div>


                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Email(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="email"
                            class="form-control col-lg-12"
                            placeholder="Email"
                            required
                            pattern='^(([^\.@]+([\._][^\._@]+)*)|(".+"))@((([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' 
                            [ngClass]="{ 'is-invalid': submitted && Form.email.errors}"
                        >
                        <div *ngIf="Form.email.errors" class="invalid-feedback">
                            <div *ngIf="Form.email.errors.required && submitted ">Email là bắt buộc</div>
                            <div *ngIf="Form.email.errors.pattern">Email không đúng định dạng</div>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Phân quyền(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select 
                            class="form-control" 
                            formControlName="roleId"
                            [ngClass]="{ 'is-invalid': submitted && Form.roleId.errors}"

                        >
                            <option *ngFor="let role of listRole" selected [value]="role.code">{{role.name}}</option>

                        </select>
                        <div *ngIf="submitted && Form.roleId.errors" class="invalid-feedback">
                            <div *ngIf="Form.roleId.required">Phân quyền là bắt buộc</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3" >
                            <i class="fa fa-save" ></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


