<div>
    <app-page-header 
        [heading]="'Danh sách tổ chức từ thiện'" 
        [heading_second]="'Thêm mới tổ chức từ thiện'" 
        [url_heading]="'/charity'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Số tài khoản(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameBank"
                            class="form-control col-lg-12"
                            placeholder="Số tài khoản"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameBank.errors }"
                        >
                        <div *ngIf="submitted && Form.nameBank.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameBank.errors.required">Số tài khoản là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tổ chức từ thiện(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameCharity"
                            class="form-control col-lg-12"
                            placeholder="Tổ chức từ thiện"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameCharity.errors }"
                        >
                        <div *ngIf="submitted && Form.nameCharity.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameCharity.errors.required">Tổ chức từ thiện là bắt buộc</div>
                        </div>
                    </div>

                </div>

                

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
