<div>
    <app-page-header 
        [heading]="'Danh sách mệnh giá'" 
        [heading_second]="'Thêm mới mệnh giá'" 
        [url_heading]="'/denominations'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="denominationForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mệnh giá(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="denominationName"
                            [ngClass]="{ 'is-invalid': submitted && Form.denominationName.errors }"
                            class="form-control col-lg-12"
                            placeholder="Mệnh giá"
                        >
                        <div *ngIf="submitted && Form.denominationName.errors" class="invalid-feedback">
                            <div *ngIf="Form.denominationName.errors.required">Mệnh giá là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
