<div>
  <app-page-header 
      [heading]="'Danh sách nhóm quyền'" 
      [heading_second]="'Thêm mới nhóm quyền'" 
      [url_heading]="'/decen'">
  </app-page-header>
  <div class="row">
      <div class="col-md-8">
          <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                  <label for="search" class="col-sm-4 col-form-label">Tên nhóm quyền(<span class="text-danger">*</span>):</label>
                  <div class="col-sm-7">
                      <input 
                          formControlName="roleName"
                          [ngClass]="{ 'is-invalid': submitted && Form.roleName.errors }"
                          class="form-control col-lg-12"
                          placeholder="Tên nhóm quyền"
                      >
                      <div *ngIf="submitted && Form.roleName.errors" class="invalid-feedback">
                          <div *ngIf="Form.roleName.errors.required">Tên nhóm quyền là bắt buộc</div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Mô tả nhóm quyền:</label>
                  <div class="col-sm-7">
                      <input 
                          class="form-control col-lg-12"
                          formControlName="roleDescription"
                          [ngClass]="{ 'is-invalid': submitted && Form.roleDescription.errors }"
                          placeholder="Tên Tỉnh/Thành phố"
                      >
                      <div *ngIf="submitted && Form.roleDescription.errors" class="invalid-feedback">
                          <div *ngIf="Form.roleDescription.errors.required">Mô tả là bắt buộc</div>
                      </div>
                  </div>
              </div>
  
              <div class="row form-group">
                <label class="col-sm-4 col-form-label">Chức năng:</label>

                <div class="col-sm-12 offset-md-4">
                  
                  <ngb-tabset>
                    <ngb-tab>
                      <ng-template ngbTabTitle><b>Quản trị hệ thống</b></ng-template>
                      <ng-template ngbTabContent>
                          <div class="row mt-3">
                            <div class="col-md-12">
                              
                              <input class="inp-cbx" id="quantri" type="checkbox" style="display: none;"/>
                              <label class="cbx" for="quantri">
                                <span>
                                  <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                  </svg></span><span><b class="text-blue">Quản trị</b>
                                </span>
                              </label>
                            </div>
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Người dùng</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new user
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update user
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete user
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="reset_pwd_user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="reset_pwd_user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Reseting password
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="author_user" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="author_user">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Authorization
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- --- -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="role" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="role">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Phân quyền</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_role" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_role">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new role
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_role" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_role">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update role
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="bock_role" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="bock_role">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_role" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_role">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete role
                                  </span>
                                </label>
                                
                              </div>
                            </div>
                            <hr class="dotted">
                            <div class="col-md-12">
                              <input class="inp-cbx" id="chucnang" type="checkbox" style="display: none;"/>
                              <label class="cbx" for="chucnang">
                                <span>
                                  <svg width="12px" height="10px" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                  </svg></span><span><b class="text-blue">Chức năng</b>
                                </span>
                              </label>
                            </div>
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="province" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="province">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Tỉnh thành/phố</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_province" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_province">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_province" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_province">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_province" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_province">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_province" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_province">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                                
                              </div>
                            </div>
                            
                                <!-- --Menh gia--- -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="menhgia" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="menhgia">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Mệnh giá</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_menhgia" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_menhgia">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_menhgia" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_menhgia">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_menhgia" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_menhgia">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_menhgia" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_menhgia">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                                
                              </div>
                            </div>
                            
                            <!-- --Quan huyen--- -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="district" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="district">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Quận huyện</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_district" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_district">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_district" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_district">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_district" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_district">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_district" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_district">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
        
                            <!-- ----doanh so---- -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="sales" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="sales">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Doanh số</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_sales" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_sales">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_sales" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_sales">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_sales" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_sales">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_sales" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_sales">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- ----nha cung  cap--- -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="nhacungcap" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="nhacungcap">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Nhà cung cấp</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_nhacungcap" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_nhacungcap">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_nhacungcap" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_nhacungcap">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_nhacungcap" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_nhacungcap">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_nhacungcap" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_nhacungcap">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- danh sach dich vu -->

                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="dichvu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="dichvu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Danh sách dịch vụ</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_dichvu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_dichvu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_dichvu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_dichvu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_dichvu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_dichvu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_dichvu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_dichvu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- banner -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="banner" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="banner">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Banner</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_banner" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_banner">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_banner" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_banner">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_banner" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_banner">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_banner" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_banner">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- mau thong bao -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="thongbao" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="thongbao">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Mẫu thông báo</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_thongbao" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_thongbao">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_thongbao" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_thongbao">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_thongbao" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_thongbao">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_thongbao" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_thongbao">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- huong dan su dung -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="sudung" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="sudung">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Hướng dẫn sử dụng</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_sudung" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_sudung">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_sudung" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_sudung">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_sudung" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_sudung">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_sudung" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_sudung">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- san pham -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="product" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="product">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Sản phẩm</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_product" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_product">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_product" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_product">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_product" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_product">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_product" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_product">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- san pham chi tiet -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="product_detail" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="product_detail">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Sản phẩm chi tiết</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_product_detail" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_product_detail">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_product_detail" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_product_detail">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_product_detail" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_product_detail">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_product_detail" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_product_detail">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- han muc dich vu -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="hanmuc" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="hanmuc">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Hạn mức dịch vụ</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_hanmuc" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_hanmuc">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_hanmuc" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_hanmuc">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_hanmuc" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_hanmuc">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_hanmuc" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_hanmuc">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- linh vuc uu dai -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="uu_dai" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="uu_dai">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Lĩnh vực ưu đãi</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_uu_dai" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_uu_dai">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_uu_dai" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_uu_dai">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_uu_dai" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_uu_dai">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_uu_dai" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_uu_dai">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- diem uu dai -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="point_uu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="point_uu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Điểm ưu đãi</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_point_uu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_point_uu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_point_uu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_point_uu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_point_uu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_point_uu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_point_uu" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_point_uu">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- danh ba tu thien -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="contact" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="contact">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Danh bạ từ thiện</b>
                                  </span>
                                </label>
                              </div>
                              <div class="custom-check-child">  
                                <input class="inp-cbx" id="add_contact" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="add_contact">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Add new
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                
                                <input class="inp-cbx" id="update_contact" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="update_contact">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Update
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="block_contact" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="block_contact">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Blocking
                                  </span>
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="inp-cbx" id="delete_contact" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="delete_contact">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span>Delete
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- add new -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="_add" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="_add">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Add new</b>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- block -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="_block" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="_block">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Block</b>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- delete -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="_delete" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="_delete">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Delete</b>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <!-- update -->
                            <div class="col-md-12 mt-3 custom-check">
                              <div class="custom-check-parent"> 
                                <input class="inp-cbx" id="_update" type="checkbox" style="display: none;"/>
                                <label class="cbx" for="_update">
                                  <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg></span><span><b class="text-blue">Update</b>
                                  </span>
                                </label>
                              </div>
                            </div>
                          
                          </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle><b>Quản trị người dùng</b></ng-template>
                      <ng-template ngbTabContent>
                        <div class="row mt-10">
                          <div class="col-md-12">

                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle><b>Hỗ trợ</b></ng-template>
                      <ng-template ngbTabContent>
                          <div class="row mt-5">
                            <div class="col-md-12">
  
                            </div>
                          </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div> 
              
              <div class="form-group row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-7">
                      <button class="btn btn-success mr-3">
                          <i class="fa fa-save"></i>&nbsp;Lưu lại
                      </button>
                      <button class="btn btn-light" (click)="cancelAction()">
                          <i class="fa fa-close"></i>&nbsp;Huỷ
                      </button>
                  </div>
              </div>
          </form>

      </div>
  </div>
</div>
