<div>
    <app-page-header 
        [heading]="'Danh sách nhà mạng'" 
        [heading_second]="'Thêm mới nhà mạng'" 
        [url_heading]="'/telecom'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="telecomForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã nhà mạng(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="code_telecom"
                            class="form-control col-lg-12"
                            placeholder="Mã nhà mạng"
                            [ngClass]="{ 'is-invalid': submitted && Form.code_telecom.errors }"
                        >
                        <div *ngIf="submitted && Form.code_telecom.errors" class="invalid-feedback">
                            <div *ngIf="Form.code_telecom.errors.required">Mã nhà mạng là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên nhà mạng(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="name_telecom"
                            class="form-control col-lg-12"
                            placeholder="Tên nhà mạng"
                            [ngClass]="{ 'is-invalid': submitted && Form.name_telecom.errors }"
                        >
                        <div *ngIf="submitted && Form.name_telecom.errors" class="invalid-feedback">
                            <div *ngIf="Form.name_telecom.errors.required">Tên nhà mạng là bắt buộc</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
