<div>
    <app-page-header 
        [heading]="'Danh sách cấu hình tham số'" 
        [heading_second]="'Thêm mới cấu hình tham số'" 
        [url_heading]="'/configure'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="configureForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên/Mã tham số(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="name_configure"
                            class="form-control col-lg-12"
                            placeholder="Mã nhà mạng"
                            [ngClass]="{ 'is-invalid': submitted && Form.name_configure.errors }"
                        >
                        <div *ngIf="submitted && Form.name_configure.errors" class="invalid-feedback">
                            <div *ngIf="Form.name_configure.errors.required">Tên/Mã tham số là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Giá trị tham số(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="value_configure"
                            class="form-control col-lg-12"
                            placeholder="Giá trị nhà mạng"
                            [ngClass]="{ 'is-invalid': submitted && Form.value_configure.errors }"
                        >
                        <div *ngIf="submitted && Form.value_configure.errors" class="invalid-feedback">
                            <div *ngIf="Form.value_configure.errors.required">Giá trị tham số là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mô tả:</label>
                    <div class="col-sm-7">
                        <input 
                            class="form-control col-lg-12"
                            placeholder="Mô tả"
                        >
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
    