<div>
    <app-page-header 
        [heading]="'Danh sách điểm giao dịch'" 
        [heading_second]="'Thêm mới điểm giao dịch'" 
        [url_heading]="'/transaction-point'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="posTypeForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã điểm giao dịch(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="posTypeCode"
                            class="form-control col-lg-12"
                            placeholder="Mã điểm giao dịch"
                            [ngClass]="{ 'is-invalid': submitted && Form.posTypeCode.errors }"
                        >
                        <div *ngIf="submitted && Form.posTypeCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.posTypeCode.errors.required">Mã điểm giao dịch là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên điểm giao dịch(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="posTypeName"
                            class="form-control col-lg-12"
                            placeholder="Tên điểm giao dịch"
                            [ngClass]="{ 'is-invalid': submitted && Form.posTypeName.errors }"
                        >
                        <div *ngIf="submitted && Form.posTypeName.errors" class="invalid-feedback">
                            <div *ngIf="Form.posTypeName.errors.required">Tên điểm giao dịch là bắt buộc</div>
                        </div>
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
