<div>
    <app-page-header 
        [heading]="'Danh sách chi nhánh'" 
        [heading_second]="'Sửa chi nhánh'" 
        [url_heading]="'/branch'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã chi nhánh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="branchCode"
                            class="form-control col-lg-12"
                            placeholder="Mã chi nhánh"
                            [ngClass]="{ 'is-invalid': submitted && Form.branchCode.errors }"
                        >
                        <div *ngIf="submitted && Form.branchCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.branchCode.errors.required">Mã chi nhánh là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên chi nhánh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="branchName"
                            class="form-control col-lg-12"
                            placeholder="Tên chi nhánh"
                            [ngClass]="{ 'is-invalid': submitted && Form.branchName.errors }"
                        >
                        <div *ngIf="submitted && Form.branchName.errors" class="invalid-feedback">
                            <div *ngIf="Form.branchName.errors.required">Tên chi nhánh là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tỉnh/Thành phố(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select 
                            class="form-control" 
                            formControlName="optionProvince"
                            [ngClass]="{ 'is-invalid': submitted && Form.optionProvince.errors}"

                        >
                            <option *ngFor="let province of listProvice" selected [value]="province.code">{{province.name}}</option>

                        </select>
                        <div *ngIf="submitted && Form.optionProvince.errors" class="invalid-feedback">
                            <div *ngIf="Form.optionProvince.errors.required">Tỉnh/Thành phố là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Quận/Huyện(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select 
                            class="form-control" 
                            formControlName="optionDistrict"
                            [ngClass]="{ 'is-invalid': submitted && Form.optionDistrict.errors }"
                        >
                            <option *ngFor="let district of listDistrict" selected [value]="district.code">{{district.name}}</option>
                            
                        </select>
                        <div *ngIf="submitted && Form.optionDistrict.errors" class="invalid-feedback">
                            <div *ngIf="Form.optionDistrict.errors.required">Quận/Huyện là bắt buộc</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Địa chỉ:</label>
                    <div class="col-sm-7">
                        <input 
                            class="form-control col-lg-12"
                            placeholder="Địa chỉ"
                        >
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
    