<div>
    <app-page-header 
        [heading]="'Danh sách banner'" 
        [heading_second]="'Thêm mới banner'" 
        [url_heading]="'/banner'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên banner(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameBanner"
                            class="form-control col-lg-12"
                            placeholder="Tên banner"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameBanner.errors }"
                        >
                        <div *ngIf="submitted && Form.nameBanner.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameBanner.errors.required">Tên banner là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Link ảnh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="linkImage"
                            class="form-control col-lg-12"
                            placeholder="Tên dịch vụ"
                            [ngClass]="{ 'is-invalid': submitted && Form.linkImage.errors }"
                        >
                        <div *ngIf="submitted && Form.linkImage.errors" class="invalid-feedback">
                            <div *ngIf="Form.linkImage.errors.required">Link ảnh là bắt buộc</div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Link url VN(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="linkUrlVN"
                            class="form-control col-lg-12"
                            placeholder="Tên dịch vụ"
                            [ngClass]="{ 'is-invalid': submitted && Form.linkUrlVN.errors }"
                        >
                        <div *ngIf="submitted && Form.linkUrlVN.errors" class="invalid-feedback">
                            <div *ngIf="Form.linkUrlVN.errors.required">Link url VN là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Link url EN(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="linkUrlEN"
                            class="form-control col-lg-12"
                            placeholder="Tên dịch vụ"
                            [ngClass]="{ 'is-invalid': submitted && Form.linkUrlEN.errors }"
                        >
                        <div *ngIf="submitted && Form.linkUrlEN.errors" class="invalid-feedback">
                            <div *ngIf="Form.linkUrlEN.errors.required">Link url EN là bắt buộc</div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
