<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>Trang chủ</span>
        </a>
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-cogs"></i>&nbsp;
                <span>{{ 'Quản trị' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                            <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-users"></i>&nbsp;
                                <span>{{ 'Người dùng' | translate }}</span>
                            </a>
                    </li>
                    <li>
                            <a [routerLink]="['/decen']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-archive"></i>&nbsp;
                                <span>{{ 'Phân quyền' | translate }}</span>
                            </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('function')">
                <i class="fa fa-clone"></i>&nbsp;
                <span>{{ 'Chức năng' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'function'">
                <ul class="submenu">
                    <li>
                            <a [routerLink]="['/province']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-university"></i>&nbsp;
                                <span>Tỉnh/Thành phố</span>
                            </a>
                    </li>
                    <li>
                            <a [routerLink]="['/denominations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-credit-card"></i>&nbsp;
                                <span>Mệnh giá</span>
                            </a>
                    </li>
                    <li>
                        <a [routerLink]="['/district']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-building"></i>&nbsp;
                            <span>Quận/Huyện</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/sales']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-btc"></i>&nbsp;
                            <span>Doanh số</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bill-service']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-home"></i>&nbsp;
                            <span>Nhà cung cấp TTHD</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/provision']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-bullhorn"></i>&nbsp;
                            <span>Điều khoản</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/branch']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-bookmark"></i>&nbsp;
                            <span>Chi nhánh</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/transaction-point']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-map"></i>&nbsp;
                            <span>Điểm giao dịch</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/transaction-room']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-compass"></i>&nbsp;
                            <span>Phòng giao dịch</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/transaction-more']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-expand"></i>&nbsp;
                            <span>Chi tiết giao dịch</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/currency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-paypal"></i>&nbsp;
                            <span>Tiền tệ</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/telecom']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-eye"></i>&nbsp;
                            <span>Nhà mạng viễn thông</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/telecom-number']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-phone"></i>&nbsp;
                            <span>Đầu số</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('parameters')">
                <i class="fa fa-wrench"></i>&nbsp;
                <span>{{ 'Tham số' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'parameters'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/configure']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-plug"></i>&nbsp;
                            <span>Cấu hình tham số</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/feature-app']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-adn"></i>&nbsp;
                            <span>Tính năng trên app</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/video']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-film"></i>&nbsp;
                            <span>Video</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/promotion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-link"></i>&nbsp;
                            <span>Quảng cáo</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/type-service']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-rss"></i>&nbsp;
                            <span>Loại dịch vụ</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/service-mb']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-random"></i>&nbsp;
                            <span>Danh sách dịch vụ</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/banner']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-paperclip"></i>&nbsp;
                            <span>Banner</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/decen']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-file"></i>&nbsp;
                            <span>Mẫu thông báo</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/product']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-table"></i>&nbsp;
                            <span>Sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/decen']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-eject"></i>&nbsp;
                            <span>Sản phẩm chi tiết</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/service-limit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-compress"></i>&nbsp;
                            <span>Hạn mức dịch vụ</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/decen']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-globe"></i>&nbsp;
                            <span>Lĩnh vực ưu đãi</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/decen']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Điểm ưu đãi</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charity']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-address-book"></i>&nbsp;
                            <span>Danh bạ từ thiện</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('manage')">
                <i class="fa fa-users"></i>&nbsp;
                <span>{{ 'Quản trị người dùng' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'manage'">
                <ul class="submenu">
                    <li>
                            <a [routerLink]="['/history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-search"></i>&nbsp;
                                <span>{{ 'Truy cập hiện tại' | translate }}</span>
                            </a>
                    </li>
                    <li>
                            <a [routerLink]="['/user-session']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-share"></i>&nbsp;
                                <span>Lịch sử truy cập</span>
                            </a>
                    </li>
                    <li>
                        <a [routerLink]="['/user-action-history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-flag"></i>&nbsp;
                            <span>{{ 'Lịch sử hoạt động' | translate }}</span>
                        </a>
                </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('support')">
                <i class="fa fa-info"></i>&nbsp;
                <span>{{ 'Hỗ trợ' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'support'">
                <ul class="submenu">
                    <li>
                      <a [routerLink]="['/support/history-sales']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <i class="fa fa-history"></i>&nbsp;
                          <span>Lịch sử doanh số</span>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/support/history-transaction']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <i class="fa fa-history"></i>&nbsp;
                          <span>Lịch sử giao dịch khách hàng</span>
                      </a>
                    </li>
                    <li>
                        <a [routerLink]="['/support/search-code']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-barcode"></i>&nbsp;
                            <span>Tra cứu mã dự thưởng</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/support/history-application']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-history"></i>&nbsp;
                            <span>Lịch sử truy cập ứng dụng MB</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/support/ott-bank']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span>Duyệt tin ngân hàng</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/support/ott-sms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span>Quản lý tin ngân hàng</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/support/ott-bank-detail']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-send"></i>&nbsp;
                            <span>Gửi tin ngân hàng</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/support/affiliate']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-compass"></i>&nbsp;
                            <span>Mã giới thiệu</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>Thu gọn</span>
    </div>
</nav>
