<div>
    <app-page-header 
        [heading]="'Danh sách nhà cung cấp thanh toán hoá đơn'"
        [url_heading]="'/bill-service'">
    </app-page-header>
    <!-- {{'Admin_function.DS_province' | translate}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Loại dịch vụ TTHD:</label>
                <div class="col-sm-6">
                    <select class="form-control" >
                        <option>Tất cả</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên nhà cung cấp TTHD:</label>
                <div class="col-sm-6">
                    <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                    itrim type="text" id="search"
                    placeholder="Tên nhà cung cấp TTHD">
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã nhà cung cấp TTHD:</label>
                <div class="col-sm-6">
                    <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                    itrim type="text" id="search"
                    placeholder="Mã nhà cung cấp TTHD">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" >
                        <option>Tất cả</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                
            </div>
        </div> 
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <a class="btn btn-warning" [routerLink]="['/bill-service/create']">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                    <select class="form-control col-sm-1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select> &nbsp;
                    <label for="search" class=" col-form-label">Bản ghi</label>  
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tìm kiếm:</label>
                <div class="col-sm-8">
                    <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                    itrim type="text" id="search"
                    placeholder="Tìm kiếm">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã nhà cung cấp TTHD</th>
                    <th scope="col">Tên nhà cung cấp TTHD</th>
                    <th scope="col">Mã dịch vụ</th>
                    <th scope="col">Loại dịch vụ</th>
                    <th scope="col">Mã nhà cung cấp NCB</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="search.process_load == 1" class="text-center">
                        <td colspan=8><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="search.total_items == 0 && search.process_load == 0" class="text-center">
                        <td colspan=8>Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor ="let service of listService; let i = index">
                        
                        <th scope="row">
                            {{i+1 + (search.page>1?(search.page-1)*search.page_size:0)}}
                        </th>
                        <td>{{service.city}}</td>
                        <td>{{service.city}}</td>
                        <td>{{service.city}}</td>
                        <td>{{service.city}}</td>
                        <td>{{service.city}}</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                            
                        </td>
                        <td>
                            <a class="mr-2 cursor-pointer text-blue" routerLink='/bill-service/edit/{{i}}'>
                                <i class="fa fa-edit"></i>
                            </a>
                            <span class="mr-2 cursor-pointer text-blue">
                                <i class="fa fa-lock"></i>
                            </span>
                            <!-- <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-unlock-alt"></i>
                            </span> -->
                            <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="deleteService(1, i)"></i>
                            </span>
                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div> 
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <ngb-pagination 
                [collectionSize]="search.total_items" 
                [(page)]="search.page" [maxSize]="10" [rotate]="true" 
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
            >
            </ngb-pagination>
        </div>
    </div>
    <!-- /.row -->
</div>
