<div>
    <app-page-header 
        [heading]="'Danh sách Tỉnh/Thành phố'" 
        [heading_second]="'Sửa Tỉnh/Thành phố'" 
        [url_heading]="'/province'">
    </app-page-header>
    <!-- {{'Admin_function.DS_province' | translate}} -->
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã Tỉnh/Thành phố(<span class="text-danger">*</span>):</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Mã Tỉnh/Thành phố">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên Tỉnh/Thành phố(<span class="text-danger">*</span>):</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Tên Tỉnh/Thành phố">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-7">
                    <button class="btn btn-success mr-3">
                        <i class="fa fa-save"></i>&nbsp;Lưu lại
                    </button>
                    <button class="btn btn-light">
                        <i class="fa fa-close"></i>&nbsp;Huỷ
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
