<div>
    <app-page-header 
        [heading]="'Danh sách PGD'" 
        [heading_second]="'Sửa mới PGD'" 
        [url_heading]="'/transaction-room'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="posForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã PGD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="posCode"
                            class="form-control col-lg-12"
                            placeholder="Mã PGD"
                            [ngClass]="{ 'is-invalid': submitted && Form.posCode.errors }"
                        >
                        <div *ngIf="submitted && Form.posCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.posCode.errors.required">Mã PGD là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên PGD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="posName"
                            class="form-control col-lg-12"
                            placeholder="Tên PGD"
                            [ngClass]="{ 'is-invalid': submitted && Form.posName.errors }"
                        >
                        <div *ngIf="submitted && Form.posName.errors" class="invalid-feedback">
                            <div *ngIf="Form.posName.errors.required">Tên PGD là bắt buộc</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Chi nhánh:</label>
                    <div class="col-sm-7">

                        <select class="form-control" >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Điểm giao dịch:</label>
                    <div class="col-sm-7">

                        <select class="form-control" >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                
                    </div>
                </div>
                

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
    