<div>
  <app-page-header [heading]="'Danh sách nhóm quyền'">
  </app-page-header>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group row">
              <label for="search" class="col-sm-4 col-form-label">Tên quyền:</label>
              <div class="col-sm-6">
                  <input class="form-control col-lg-12"
                    itrim type="text"  [(ngModel)]="search.role_name"
                    placeholder="Tên quyền">
              </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
          <div class="col-sm-6">
              <select class="form-control" [(ngModel)]="search.status">
                  <option *ngFor="let item of listStatus" [value]="item.code">{{item.name}}</option>

              </select>
          </div>
          
        </div>

          
      </div>
      <div class="col-md-12 text-center">
          <button class="btn btn-primary mr-3" (click)="onSearch()">
              <i class="fa fa-search"></i>&nbsp;Tìm kiếm
          </button>
          <a class="btn btn-warning"  [routerLink]="['/decen/create']">
              <i class="fa fa-plus"></i>&nbsp;Thêm mới
          </a>
      </div>
  

  </div>
  <div class="row mt-50">
      <div class="col-md-8">
          <div class="form-group row">
              <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                  <select 
                      class="form-control col-sm-1" 
                      (ngModelChange)="changeSize($event)"
                  >
                      <option *ngFor="let page_size of listPageSize" [value]="page_size" checked>{{page_size}}</option>
                  </select> &nbsp;
                  <label for="search" class=" col-form-label">Bản ghi</label>  
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group row">
              <label for="search" class="col-sm-4 col-form-label">Tìm kiếm:</label>
              <div class="col-sm-8">
                  <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                  itrim type="text" id="search"
                  placeholder="Tìm kiếm">
              </div>
          </div>
      </div>

  </div>
  <div class="row">
      <div class="col-md-12 table-responsive">
          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Nhóm quyền</th>
                  <th scope="col">Mô tả quyền</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Người tạo</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Thao tác</th>

                  </tr>
              </thead>
              <tbody>
                  <tr *ngIf="search.process_load == 1" class="text-center">
                      <td colspan=7><i class="fa fa-spin fa-spinner font-30"></i></td>
                  </tr>
                  <tr *ngIf="search.total_items == 0 && search.process_load == 0" class="text-center">
                      <td colspan=7>Không tìm thấy kết quả</td>
                  </tr>
                  <tr *ngFor ="let data of listData; let i = index">
                      
                      <th scope="row">
                          <!-- {{i+1 + (search.page>1?(search.page-1)*search.size:0)}} -->
                          {{i + 1}}
                      </th>
                      <td>Admin</td>
                      <td>Admin</td>


                      <td>
                        <span class="badge badge-success">ACTIVE</span>
                        <!-- <span *ngIf="data?.status =='D'" class="badge badge-success">DEACTIVE</span> -->

                      </td>
                      <td>system</td>
                      
                      <td>12/12/2100 21:09</td> 
                      <!-- {{data?.createdDate | date:'MM.dd.yyyy HH:mm'}} -->
                  

                      <td>
                          <a class="mr-2 cursor-pointer text-blue" routerLink="/decen/edit/{{i}}">
                              <i class="fa fa-edit"></i>
                          </a>
                          <span class="mr-2 cursor-pointer text-blue">
                              <i class="fa fa-lock"></i>
                          </span>
                          <!-- <span class="mr-2 cursor-pointer text-danger">
                              <i class="fa fa-unlock-alt"></i>
                          </span> -->

                          <span class="mr-2 cursor-pointer text-danger">
                              <i class="fa fa-trash" (click)="deleteItem(1, i)"></i>
                          </span>
                      
                      </td>

                  
                  </tr>
                  
              </tbody>
          </table>
      </div> 
  </div>  
  <div class="row mt-3">
      <div class="col-md-12">

          <ngb-pagination *ngIf="search.total_items > 0 && search.total_items > search.size"
              [collectionSize]="search.total_items" [pageSize]="search.size" [(page)]="search.page"
              [boundaryLinks]="true"
              [maxSize]="2" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
  </div>
</div>